3/xml/schemas/schema-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/schema-2"
           xmlns="http://example.com/schema-2"
           elementFormDefault="qualified">

    <xs:element name="Shops">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Shop" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

  <xs:element name="Shop">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string"/>
        <xs:element name="Capacity" type="xs:int"/>
        <xs:element ref="Logos" ></xs:element>
        <xs:element ref="Products"  ></xs:element>
        <xs:element ref="Employees" ></xs:element>
        <xs:element ref="Visitors" ></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

    <xs:element name="Logos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Logo" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
  
  <xs:element name="Logo">
      <xs:complexType>
          <xs:sequence>
              <xs:element name="Image" type="xs:string"/>
              <xs:element name="Creation_date" type="xs:date"/>
          </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element name="Products">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Products" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Product">
      <xs:complexType>
          <xs:sequence>
              <xs:element name="Name" type="xs:string"/>
              <xs:element name="Preparation_time" type="xs:int"/>
              <xs:element name="Price" type="xs:int"/>
          </xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element name="Visitors">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Visitor" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Visitor">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Nickname" type="xs:string"/>
                <xs:element name="Number_of_visits" type="xs:int"/>
                <xs:element name="Fullname" type="xs:string"/>
                <xs:element name="Phone_number" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Employees">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Employee" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Employee">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Id" type="xs:string"/>
                <xs:element name="Salary" type="xs:int"/>
                <xs:element name="Fullname" type="xs:string"/>
                <xs:element name="Phone_number" maxOccurs="unbounded" minOccurs="0"/>
                <xs:element ref="Products"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>