3/xml/schemas/schema-3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/schema-2"
           xmlns="http://example.com/schema-2"
           elementFormDefault="qualified">

    <xs:element name="Logos">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Logo" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Logo">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Image" type="xs:anyURI"/>
                <xs:element name="Creation_date" type="xs:date"/>
            </xs:sequence>
           <xs:attribute name="iri" type="xs:anyURI" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
