3/xml/schemas/schema-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/schema-2"
           xmlns="http://example.com/schema-2"
           elementFormDefault="qualified">

    <xs:element name="Visitors">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Visitor" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Visitor">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Nickname" type="xs:string"/>
                <xs:element name="Number_of_visits" type="xs:int"/>
                <xs:element name="Fullname" type="xs:string"/>
                <xs:element name="Phone_number" maxOccurs="unbounded" minOccurs="0"/>
                <!--Each visitor can reference multiple shops by IRI--> 
                <xs:element name="ShopRef" type="ShopRefType" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Reference type for linking to Shops -->
    <xs:complexType name="ShopRefType">
        <xs:attribute name="iri" type="xs:anyURI" use="required"/>
    </xs:complexType>
    </xs:schema>